.table-data {
    width: 40%;
    border: 1px solid black;
    padding: 1.2rem;
    border-collapse: collapse;
}

.head {
    display: table-header-group;
    font-size: 1.3rem;
    font-weight: bold;
}

.row {
    display: table-row;
}

.data-row {
    display: table-cell;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
}